.card {   
    margin-bottom: 10px;
}

.single-text {
    padding: 10px;
    margin-right: 10px;
    position: relative;
    float: left;
    max-width: 49%;
}



.card-text {
    padding-left: 20px;
}

